.rots-3x3{font-weight:bold;display:inline-block;vertical-align:middle;margin:0}
.rots-3x3 > span{display:inline-block;width:36px;height:22px;background:url(../img/rots-3x3.png) no-repeat 0px 100px transparent;padding:40px 0 0 0;line-height:22px;text-align:center;font-size:18px;font-style:normal;margin-right:8px}
.rots-3x3 > span.li{background-position:0px 0px}
.rots-3x3 > span.mi{background-position:-40px 0px}
.rots-3x3 > span.r{background-position:-80px 0px}
.rots-3x3 > span.ui{background-position:-120px 0px}
.rots-3x3 > span.e{background-position:-160px 0px}
.rots-3x3 > span.d{background-position:-200px 0px}
.rots-3x3 > span.l{background-position:-240px 0px}
.rots-3x3 > span.m{background-position:-280px 0px}
.rots-3x3 > span.ri{background-position:-320px 0px}
.rots-3x3 > span.u{background-position:-360px 0px}
.rots-3x3 > span.ei{background-position:-400px 0px}
.rots-3x3 > span.di{background-position:-440px 0px}
.rots-3x3 > span.f{background-position:-480px 0px}
.rots-3x3 > span.bi{background-position:-520px 0px}
.rots-3x3 > span.fi{background-position:-560px 0px}
.rots-3x3 > span.b{background-position:-600px 0px}
.rots-3x3 > span.s{background-position:-642px 0px}
.rots-3x3 > span.si{background-position:-682px 0px}
.rots-3x3 > span.f2{background-position:-720px 0px}
.rots-3x3 > span.r2{background-position:-760px 0px}
.rots-3x3 > span.u2{background-position:-800px 0px}
.rots-3x3 > span.b2{background-position:-840px 0px}
.rots-3x3 > span.l2{background-position:-880px 0px}
.rots-3x3 > span.d2{background-position:-920px 0px}
.rots-3x3 > span.m2{background-position:-960px 0px}
.rots-3x3 > span.e2{background-position:-1000px 0px}
.rots-3x3 > span.s2{background-position:-1040px 0px}